/**
 * Define or overwrite your theme selectors within this file.
**/

.goog-te-combo,
.goog-te-banner *,
.goog-te-ftab *,
.goog-te-menu *,
.goog-te-menu2 *,
.goog-te-balloon * {
  font-family: arial;
  font-size: 10pt;
  /*background-image: url("/Style%20Library/VCS-Assets/imgs/google-translate-icon-small.png");*/
  background-repeat: no-repeat;
  background-color: #2d3340;
  color: #fff !important;
}
.goog-logo-link {
  display: none !important;
}
.goog-te-gadget {
  color: transparent !important;
}
.goog-te-gadget .goog-te-combo {
  margin: 7px 0 0 7px !important;
}
.goog-te-combo select {
	padding-right :0 !important;
}

body i {
	font-weight: 700;
}